<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>279884688149-0nl4fgggl4leph87ganmu8vlfd3lujdn.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.279884688149-0nl4fgggl4leph87ganmu8vlfd3lujdn</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>279884688149-eso98mqg35lqkiagrkjgtkl296ip5slj.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBKychLJqF3_xNZtmL19YLxy4tOT8mOXyI</string>
    <key>GCM_SENDER_ID</key>
    <string>279884688149</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.paras.Dialoom</string>
    <key>PROJECT_ID</key>
    <string>dialoom-c912e</string>
    <key>STORAGE_BUCKET</key>
    <string>dialoom-c912e.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:279884688149:ios:831df6e496eac17794571c</string>
</dict>
</plist>
